<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1</string>
	<key>Rules</key>
	<array>
		<dict>
			<key>Available</key>
			<dict>
				<key>FromVersion</key>
				<string>10.13</string>
				<key>ToVersion</key>
				<string>10.13</string>
			</dict>
			<key>CheckAction</key>
			<dict>
				<key>Action</key>
				<string>defaults read com.apple.Safari BlockStoragePolicy | grep -E "0|2"</string>
				<key>ResultDefault</key>
				<string></string>
				<key>Type</key>
				<string>shell</string>
			</dict>
			<key>CheckDescription</key>
			<string>Some websites use third-party content providers. A third-party content provider can track you across websites to advertise products and services.</string>
			<key>CheckID</key>
			<string>disable_safari_cross_tracking</string>
			<key>Domain</key>
			<string>Paranoid</string>
			<key>Enabled</key>
			<false/>
			<key>Group</key>
			<string>safari</string>
			<key>InfoLink</key>
			<string>https://simpleum.com/en/faq-items/disable-cross-domain-tracking-safari/</string>
			<key>InternalDocLink</key>
			<string></string>
			<key>Kind</key>
			<string>Privacy</string>
			<key>Meta</key>
			<dict>
				<key>Author</key>
				<string>Simpleum Media GmbH</string>
				<key>Copyright</key>
				<string>(c) 2018 by Simpleum Media GmbH</string>
				<key>Notes</key>
				<string></string>
				<key>Version</key>
				<string>1.0.0</string>
			</dict>
			<key>Order</key>
			<integer>0</integer>
			<key>PreconditionCheckAction</key>
			<dict>
				<key>Action</key>
				<string></string>
				<key>ResultDefault</key>
				<string></string>
				<key>Type</key>
				<string>none</string>
			</dict>
			<key>PreconditionValidation</key>
			<dict>
				<key>IsSuccess</key>
				<true/>
				<key>Type</key>
				<string>none</string>
				<key>Value</key>
				<string></string>
			</dict>
			<key>Severity</key>
			<string>Medium</string>
			<key>ShowResult</key>
			<false/>
			<key>Title</key>
			<string>Disable cross domain tracking in Safari</string>
			<key>Validation</key>
			<dict>
				<key>IsSuccess</key>
				<false/>
				<key>Type</key>
				<string>equal</string>
				<key>Value</key>
				<string></string>
			</dict>
			<key>WorkflowState</key>
			<string></string>
		</dict>
	</array>
	<key>RulesVersion</key>
	<string>1</string>
</dict>
</plist>
