<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1</string>
	<key>Rules</key>
	<array>
		<dict>
			<key>Available</key>
			<dict>
				<key>FromVersion</key>
				<string>10.11</string>
				<key>ToVersion</key>
				<string>*</string>
			</dict>
			<key>CheckAction</key>
			<dict>
				<key>Action</key>
				<string>/usr/sbin/spctl --status</string>
				<key>ResultDefault</key>
				<string></string>
				<key>Type</key>
				<string>shell</string>
			</dict>
			<key>CheckDescription</key>
			<string>Gatekeeper helps to protect your Mac from apps that could adversely affect it. Some apps, downloaded and installed from the Internet, could adversely affect your Mac. Gatekeeper helps to protect your Mac from such apps.</string>
			<key>CheckID</key>
			<string>gatekeeper_enabled</string>
			<key>Domain</key>
			<string>Basic</string>
			<key>Enabled</key>
			<true/>
			<key>Group</key>
			<string></string>
			<key>InfoLink</key>
			<string>https://simpleum.com/en/faq-items/gatekeeper-should-be-enabled/</string>
			<key>InternalDocLink</key>
			<string>/x/XoAYAQ</string>
			<key>Kind</key>
			<string>Security</string>
			<key>Meta</key>
			<dict>
				<key>Author</key>
				<string>Simpleum Media GmbH</string>
				<key>Copyright</key>
				<string>(c) 2018 by Simpleum Media GmbH</string>
				<key>Notes</key>
				<string></string>
				<key>Version</key>
				<string>1.0.0</string>
			</dict>
			<key>Order</key>
			<integer>1</integer>
			<key>PreconditionCheckAction</key>
			<dict>
				<key>Action</key>
				<string></string>
				<key>ResultDefault</key>
				<string></string>
				<key>Type</key>
				<string>none</string>
			</dict>
			<key>PreconditionValidation</key>
			<dict>
				<key>IsSuccess</key>
				<true/>
				<key>Type</key>
				<string>none</string>
				<key>Value</key>
				<string></string>
			</dict>
			<key>Severity</key>
			<string>High</string>
			<key>ShowResult</key>
			<false/>
			<key>Title</key>
			<string>Is Gatekeeper enabled?</string>
			<key>Validation</key>
			<dict>
				<key>IsSuccess</key>
				<true/>
				<key>Type</key>
				<string>contains</string>
				<key>Value</key>
				<string>assessments enabled</string>
			</dict>
			<key>WorkflowState</key>
			<string></string>
		</dict>
	</array>
	<key>RulesVersion</key>
	<string>1</string>
</dict>
</plist>
