<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1</string>
	<key>Rules</key>
	<array>
		<dict>
			<key>Available</key>
			<dict>
				<key>FromVersion</key>
				<string>10.11</string>
				<key>ToVersion</key>
				<string>*</string>
			</dict>
			<key>CheckAction</key>
			<dict>
				<key>Action</key>
				<string>/Library/Preferences/com.apple.loginwindow GuestEnabled</string>
				<key>ResultDefault</key>
				<string>1</string>
				<key>Type</key>
				<string>defaults</string>
			</dict>
			<key>CheckDescription</key>
			<string>Disable the guest account to reduce the possibilities that unautorized persons can work with your Mac from your IP or get access to your data.</string>
			<key>CheckID</key>
			<string>guest_deactivated</string>
			<key>Domain</key>
			<string>Basic</string>
			<key>Enabled</key>
			<true/>
			<key>Group</key>
			<string>account</string>
			<key>InfoLink</key>
			<string>https://simpleum.com/en/faq-items/guest-user-account-deactivated/</string>
			<key>InternalDocLink</key>
			<string>/x/TIAYAQ</string>
			<key>Kind</key>
			<string>Security</string>
			<key>Meta</key>
			<dict>
				<key>Author</key>
				<string>Simpleum Media GmbH</string>
				<key>Copyright</key>
				<string>(c) 2018 by Simpleum Media GmbH</string>
				<key>Notes</key>
				<string></string>
				<key>Version</key>
				<string>1.0.0</string>
			</dict>
			<key>Order</key>
			<integer>41</integer>
			<key>PreconditionCheckAction</key>
			<dict>
				<key>Action</key>
				<string></string>
				<key>ResultDefault</key>
				<string></string>
				<key>Type</key>
				<string>none</string>
			</dict>
			<key>PreconditionValidation</key>
			<dict>
				<key>IsSuccess</key>
				<true/>
				<key>Type</key>
				<string>none</string>
				<key>Value</key>
				<string></string>
			</dict>
			<key>Severity</key>
			<string>Medium</string>
			<key>ShowResult</key>
			<false/>
			<key>Title</key>
			<string>Guest user account should be deactivated</string>
			<key>Validation</key>
			<dict>
				<key>IsSuccess</key>
				<false/>
				<key>Type</key>
				<string>equal</string>
				<key>Value</key>
				<string>1</string>
			</dict>
			<key>WorkflowState</key>
			<string></string>
		</dict>
	</array>
	<key>RulesVersion</key>
	<string>1</string>
</dict>
</plist>
