<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1</string>
	<key>Rules</key>
	<array>
		<dict>
			<key>Available</key>
			<dict>
				<key>FromVersion</key>
				<string>10.11</string>
				<key>ToVersion</key>
				<string>*</string>
			</dict>
			<key>CheckAction</key>
			<dict>
				<key>Action</key>
				<string>-u _locationd defaults -currentHost read com.apple.locationd </string>
				<key>ResultDefault</key>
				<string></string>
				<key>Type</key>
				<string>sudo_shell</string>
			</dict>
			<key>CheckDescription</key>
			<string>Using your actual location information can be useful in some circumstance (e.g. using Maps). But it obviously enable tracking of your location. Be careful with the services/apps you allow tracking your location.</string>
			<key>CheckID</key>
			<string>location_services</string>
			<key>Domain</key>
			<string>Paranoid</string>
			<key>Enabled</key>
			<true/>
			<key>Group</key>
			<string>services</string>
			<key>InfoLink</key>
			<string>https://simpleum.com/en/faq-items/location-services-can-used-identify-location/</string>
			<key>InternalDocLink</key>
			<string></string>
			<key>Kind</key>
			<string>Privacy</string>
			<key>Meta</key>
			<dict>
				<key>Author</key>
				<string>Simpleum Media GmbH</string>
				<key>Copyright</key>
				<string>(c) 2018 by Simpleum Media GmbH</string>
				<key>Notes</key>
				<string></string>
				<key>Version</key>
				<string>1.0.0</string>
			</dict>
			<key>Order</key>
			<integer>0</integer>
			<key>PreconditionCheckAction</key>
			<dict>
				<key>Action</key>
				<string></string>
				<key>ResultDefault</key>
				<string></string>
				<key>Type</key>
				<string>none</string>
			</dict>
			<key>PreconditionValidation</key>
			<dict>
				<key>IsSuccess</key>
				<true/>
				<key>Type</key>
				<string>none</string>
				<key>Value</key>
				<string></string>
			</dict>
			<key>Severity</key>
			<string>High</string>
			<key>ShowResult</key>
			<false/>
			<key>Title</key>
			<string>Location services can be used to identify your location</string>
			<key>Validation</key>
			<dict>
				<key>IsSuccess</key>
				<false/>
				<key>Type</key>
				<string>contains</string>
				<key>Value</key>
				<string> LocationServicesEnabled = 1</string>
			</dict>
			<key>WorkflowState</key>
			<string></string>
		</dict>
	</array>
	<key>RulesVersion</key>
	<string>1</string>
</dict>
</plist>
