<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1</string>
	<key>Rules</key>
	<array>
		<dict>
			<key>Available</key>
			<dict>
				<key>FromVersion</key>
				<string>10.11</string>
				<key>ToVersion</key>
				<string>*</string>
			</dict>
			<key>CheckAction</key>
			<dict>
				<key>Action</key>
				<string>com.apple.Safari AutoFillMiscellaneousForms</string>
				<key>ResultDefault</key>
				<string></string>
				<key>Type</key>
				<string>defaults</string>
			</dict>
			<key>CheckDescription</key>
			<string>With AutoFill, Safari can automatically fill in your credit card information, contact information, passwords, and more. It can automatically fill in information from any contact in Contacts. It can also generate a secure password when you need to create one. Safari highlights autofilled fields in yellow.</string>
			<key>CheckID</key>
			<string>no_autofill_other_safari</string>
			<key>Domain</key>
			<string>Professional</string>
			<key>Enabled</key>
			<true/>
			<key>Group</key>
			<string>safari</string>
			<key>InfoLink</key>
			<string>https://simpleum.com/en/faq-items/not-use-auto-fill-safari/</string>
			<key>InternalDocLink</key>
			<string></string>
			<key>Kind</key>
			<string>Privacy</string>
			<key>Meta</key>
			<dict>
				<key>Author</key>
				<string>Simpleum Media GmbH</string>
				<key>Copyright</key>
				<string>(c) 2018 by Simpleum Media GmbH</string>
				<key>Notes</key>
				<string></string>
				<key>Version</key>
				<string>1.0.0</string>
			</dict>
			<key>Order</key>
			<integer>0</integer>
			<key>PreconditionCheckAction</key>
			<dict>
				<key>Action</key>
				<string></string>
				<key>ResultDefault</key>
				<string></string>
				<key>Type</key>
				<string>none</string>
			</dict>
			<key>PreconditionValidation</key>
			<dict>
				<key>IsSuccess</key>
				<true/>
				<key>Type</key>
				<string>none</string>
				<key>Value</key>
				<string></string>
			</dict>
			<key>Severity</key>
			<string>Medium</string>
			<key>ShowResult</key>
			<false/>
			<key>Title</key>
			<string>Do not auto fill "other" data in Safari</string>
			<key>Validation</key>
			<dict>
				<key>IsSuccess</key>
				<true/>
				<key>Type</key>
				<string>equal</string>
				<key>Value</key>
				<string>0</string>
			</dict>
			<key>WorkflowState</key>
			<string></string>
		</dict>
	</array>
	<key>RulesVersion</key>
	<string>1</string>
</dict>
</plist>
