<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1</string>
	<key>Rules</key>
	<array>
		<dict>
			<key>Available</key>
			<dict>
				<key>FromVersion</key>
				<string>10.11</string>
				<key>ToVersion</key>
				<string>*</string>
			</dict>
			<key>CheckAction</key>
			<dict>
				<key>Action</key>
				<string>defaults read /Library/Preferences/com.apple.loginwindow.plist RetriesUntilHint</string>
				<key>ResultDefault</key>
				<string>0</string>
				<key>Type</key>
				<string>sudo_shell</string>
			</dict>
			<key>CheckDescription</key>
			<string>Password hints make it easier for unauthorized persons to gain access to your Mac by providing information to anyone who has access to your computer and knows your user name. This info could include the password itself or other information that might be readily discerned with basic knowledge of the end user or gathered through social engineering.</string>
			<key>CheckID</key>
			<string>no_password_hint</string>
			<key>Domain</key>
			<string>Basic</string>
			<key>Enabled</key>
			<true/>
			<key>Group</key>
			<string>account</string>
			<key>InfoLink</key>
			<string>https://simpleum.com/en/faq-items/dont-show-password-hint-login-window/</string>
			<key>InternalDocLink</key>
			<string>/x/PYAYAQ</string>
			<key>Kind</key>
			<string>Security</string>
			<key>Meta</key>
			<dict>
				<key>Author</key>
				<string>Simpleum Media GmbH</string>
				<key>Copyright</key>
				<string>(c) 2018 by Simpleum Media GmbH</string>
				<key>Notes</key>
				<string></string>
				<key>Version</key>
				<string>1.0.0</string>
			</dict>
			<key>Order</key>
			<integer>100</integer>
			<key>PreconditionCheckAction</key>
			<dict>
				<key>Action</key>
				<string></string>
				<key>ResultDefault</key>
				<string></string>
				<key>Type</key>
				<string>none</string>
			</dict>
			<key>PreconditionValidation</key>
			<dict>
				<key>IsSuccess</key>
				<true/>
				<key>Type</key>
				<string>none</string>
				<key>Value</key>
				<string></string>
			</dict>
			<key>Severity</key>
			<string>High</string>
			<key>ShowResult</key>
			<false/>
			<key>Title</key>
			<string>Don't show password hint at login window</string>
			<key>Validation</key>
			<dict>
				<key>IsSuccess</key>
				<true/>
				<key>Type</key>
				<string>equal</string>
				<key>Value</key>
				<string>0</string>
			</dict>
			<key>WorkflowState</key>
			<string></string>
		</dict>
	</array>
	<key>RulesVersion</key>
	<string>1</string>
</dict>
</plist>
