<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1</string>
	<key>Rules</key>
	<array>
		<dict>
			<key>Available</key>
			<dict>
				<key>FromVersion</key>
				<string>10.11</string>
				<key>ToVersion</key>
				<string>*</string>
			</dict>
			<key>CheckAction</key>
			<dict>
				<key>Action</key>
				<string>com.apple.Safari BlockStoragePolicy</string>
				<key>ResultDefault</key>
				<string></string>
				<key>Type</key>
				<string>defaults</string>
			</dict>
			<key>CheckDescription</key>
			<string>Cookies are small text files which can store information set by a website, e.g. to remember your login name or some settings. Cookies can also be used to track your behavior. You can generally turn off, that any cookie will be stored. Be aware this can reduce the functionality of a website you visit.</string>
			<key>CheckID</key>
			<string>safari_block_all_cookies</string>
			<key>Domain</key>
			<string>Paranoid</string>
			<key>Enabled</key>
			<true/>
			<key>Group</key>
			<string>safari</string>
			<key>InfoLink</key>
			<string>https://simpleum.com/en/faq-items/block-usage-cookie-safari/</string>
			<key>InternalDocLink</key>
			<string></string>
			<key>Kind</key>
			<string>Privacy</string>
			<key>Meta</key>
			<dict>
				<key>Author</key>
				<string>Simpleum Media GmbH</string>
				<key>Copyright</key>
				<string>(c) 2018 by Simpleum Media GmbH</string>
				<key>Notes</key>
				<string></string>
				<key>Version</key>
				<string>1.0.0</string>
			</dict>
			<key>Order</key>
			<integer>0</integer>
			<key>PreconditionCheckAction</key>
			<dict>
				<key>Action</key>
				<string></string>
				<key>ResultDefault</key>
				<string></string>
				<key>Type</key>
				<string>none</string>
			</dict>
			<key>PreconditionValidation</key>
			<dict>
				<key>IsSuccess</key>
				<true/>
				<key>Type</key>
				<string>none</string>
				<key>Value</key>
				<string></string>
			</dict>
			<key>Severity</key>
			<string>Medium</string>
			<key>ShowResult</key>
			<false/>
			<key>Title</key>
			<string>Block usage of any cookie in Safari</string>
			<key>Validation</key>
			<dict>
				<key>IsSuccess</key>
				<true/>
				<key>Type</key>
				<string>equal</string>
				<key>Value</key>
				<string>0</string>
			</dict>
			<key>WorkflowState</key>
			<string></string>
		</dict>
	</array>
	<key>RulesVersion</key>
	<string>1</string>
</dict>
</plist>
