<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1</string>
	<key>Rules</key>
	<array>
		<dict>
			<key>Available</key>
			<dict>
				<key>FromVersion</key>
				<string>10.11</string>
				<key>ToVersion</key>
				<string>*</string>
			</dict>
			<key>CheckAction</key>
			<dict>
				<key>Action</key>
				<string>com.apple.systemuiserver menuExtras</string>
				<key>ResultDefault</key>
				<string></string>
				<key>Type</key>
				<string>defaults</string>
			</dict>
			<key>CheckDescription</key>
			<string>If you do not need the Wi-Fi connection, you switch it off. To make it easy to switch Wi-Fi off and on, enable the Wi-Fi icon in the menu bar.</string>
			<key>CheckID</key>
			<string>show_wifi_in_menubar</string>
			<key>Domain</key>
			<string>Paranoid</string>
			<key>Enabled</key>
			<true/>
			<key>Group</key>
			<string>device</string>
			<key>InfoLink</key>
			<string>https://simpleum.com/en/faq-items/show-wifi-status-menu-bar/</string>
			<key>InternalDocLink</key>
			<string></string>
			<key>Kind</key>
			<string>Security</string>
			<key>Meta</key>
			<dict>
				<key>Author</key>
				<string>Simpleum Media GmbH</string>
				<key>Copyright</key>
				<string>(c) 2018 by Simpleum Media GmbH</string>
				<key>Notes</key>
				<string></string>
				<key>Version</key>
				<string>1.0.0</string>
			</dict>
			<key>Order</key>
			<integer>0</integer>
			<key>PreconditionCheckAction</key>
			<dict>
				<key>Action</key>
				<string>networksetup -listallnetworkservices</string>
				<key>ResultDefault</key>
				<string></string>
				<key>Type</key>
				<string>shell</string>
			</dict>
			<key>PreconditionValidation</key>
			<dict>
				<key>IsSuccess</key>
				<true/>
				<key>Type</key>
				<string>contains</string>
				<key>Value</key>
				<string>Wi-Fi</string>
			</dict>
			<key>Severity</key>
			<string>Low</string>
			<key>ShowResult</key>
			<false/>
			<key>Title</key>
			<string>Show Wifi status in menu bar</string>
			<key>Validation</key>
			<dict>
				<key>IsSuccess</key>
				<true/>
				<key>Type</key>
				<string>contains</string>
				<key>Value</key>
				<string>AirPort.menu</string>
			</dict>
			<key>WorkflowState</key>
			<string></string>
		</dict>
	</array>
	<key>RulesVersion</key>
	<string>1</string>
</dict>
</plist>
