<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1</string>
	<key>Rules</key>
	<array>
		<dict>
			<key>Available</key>
			<dict>
				<key>FromVersion</key>
				<string>10.11</string>
				<key>ToVersion</key>
				<string>*</string>
			</dict>
			<key>CheckAction</key>
			<dict>
				<key>Action</key>
				<string>com.apple.Terminal SecureKeyboardEntry</string>
				<key>ResultDefault</key>
				<string></string>
				<key>Type</key>
				<string>defaults</string>
			</dict>
			<key>CheckDescription</key>
			<string>The terminal.app supports “secure entry”. This is a technology by Apple to ensure that keyboard events and not shared with other processes. This is very important, because the terminal.app is often used for administrative tasks or for managing remote servers.</string>
			<key>CheckID</key>
			<string>terminal_secure_input</string>
			<key>Domain</key>
			<string>Paranoid</string>
			<key>Enabled</key>
			<true/>
			<key>Group</key>
			<string>apps</string>
			<key>InfoLink</key>
			<string>https://simpleum.com/en/faq-items/secure-keyboard-entry-enabled-terminal-app/</string>
			<key>InternalDocLink</key>
			<string>/x/AYAkAQ</string>
			<key>Kind</key>
			<string>Security</string>
			<key>Meta</key>
			<dict>
				<key>Author</key>
				<string>Simpleum Media GmbH</string>
				<key>Copyright</key>
				<string>(c) 2018 by Simpleum Media GmbH</string>
				<key>Notes</key>
				<string></string>
				<key>Version</key>
				<string>1.0.0</string>
			</dict>
			<key>Order</key>
			<integer>0</integer>
			<key>PreconditionCheckAction</key>
			<dict>
				<key>Action</key>
				<string></string>
				<key>ResultDefault</key>
				<string></string>
				<key>Type</key>
				<string>none</string>
			</dict>
			<key>PreconditionValidation</key>
			<dict>
				<key>IsSuccess</key>
				<true/>
				<key>Type</key>
				<string>none</string>
				<key>Value</key>
				<string></string>
			</dict>
			<key>Severity</key>
			<string>Low</string>
			<key>ShowResult</key>
			<false/>
			<key>Title</key>
			<string>Secure keyboard entry should be enabled for terminal.app</string>
			<key>Validation</key>
			<dict>
				<key>IsSuccess</key>
				<true/>
				<key>Type</key>
				<string>equal</string>
				<key>Value</key>
				<string>1</string>
			</dict>
			<key>WorkflowState</key>
			<string></string>
		</dict>
	</array>
	<key>RulesVersion</key>
	<string>1</string>
</dict>
</plist>
