<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1</string>
	<key>Rules</key>
	<array>
		<dict>
			<key>Available</key>
			<dict>
				<key>FromVersion</key>
				<string>10.11</string>
				<key>ToVersion</key>
				<string>*</string>
			</dict>
			<key>CheckAction</key>
			<dict>
				<key>Action</key>
				<string>AUTOUPDATE=$(defaults read /Library/Preferences/com.apple.SoftwareUpdate AutomaticCheckEnabled)
MACOSUPDATE=$(defaults read /Library/Preferences/com.apple.commerce AutoUpdateRestartRequired)
if [ \( "$AUTOUPDATE" == "" -o  "$AUTOUPDATE" == "1" \) -a \( "$MACOSUPDATE" == "1"  \) ]; then
	echo "ON"
else
	echo "OFF"
fi</string>
				<key>ResultDefault</key>
				<string></string>
				<key>Type</key>
				<string>shell</string>
			</dict>
			<key>CheckDescription</key>
			<string>Updating your software is one key action to stay secure. Apple and App developers releases frequently new software version. These updates may contain security fixes and you should install them immediately.</string>
			<key>CheckID</key>
			<string>update_macOS</string>
			<key>Domain</key>
			<string>Basic</string>
			<key>Enabled</key>
			<true/>
			<key>Group</key>
			<string>software update</string>
			<key>InfoLink</key>
			<string>https://simpleum.com/en/faq-items/install-software-updates-automatically/</string>
			<key>InternalDocLink</key>
			<string>/x/goAYAQ</string>
			<key>Kind</key>
			<string>Security</string>
			<key>Meta</key>
			<dict>
				<key>Author</key>
				<string>Simpleum Media GmbH</string>
				<key>Copyright</key>
				<string>(c) 2018 by Simpleum Media GmbH</string>
				<key>Notes</key>
				<string></string>
				<key>Version</key>
				<string>1.0.0</string>
			</dict>
			<key>Order</key>
			<integer>63</integer>
			<key>PreconditionCheckAction</key>
			<dict>
				<key>Action</key>
				<string></string>
				<key>ResultDefault</key>
				<string></string>
				<key>Type</key>
				<string>none</string>
			</dict>
			<key>PreconditionValidation</key>
			<dict>
				<key>IsSuccess</key>
				<true/>
				<key>Type</key>
				<string>none</string>
				<key>Value</key>
				<string></string>
			</dict>
			<key>Severity</key>
			<string>High</string>
			<key>ShowResult</key>
			<false/>
			<key>Title</key>
			<string>Install macOS updates automatically</string>
			<key>Validation</key>
			<dict>
				<key>IsSuccess</key>
				<true/>
				<key>Type</key>
				<string>contains</string>
				<key>Value</key>
				<string>ON</string>
			</dict>
			<key>WorkflowState</key>
			<string></string>
		</dict>
	</array>
	<key>RulesVersion</key>
	<string>1</string>
</dict>
</plist>
