<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1</string>
	<key>Rules</key>
	<array>
		<dict>
			<key>Available</key>
			<dict>
				<key>FromVersion</key>
				<string>10.11</string>
				<key>ToVersion</key>
				<string>*</string>
			</dict>
			<key>CheckAction</key>
			<dict>
				<key>Action</key>
				<string>/Library/Preferences/com.apple.SoftwareUpdate CatalogURL</string>
				<key>ResultDefault</key>
				<string>apple.com/</string>
				<key>Type</key>
				<string>defaults</string>
			</dict>
			<key>CheckDescription</key>
			<string>It is possible not to download updates directly using Apple servers. This makes sense in companies, which implement a central update server with own update policies. If this is not your case, you should definitely deactivate it and use Apple servers again to ensure you are not hijacked.</string>
			<key>CheckID</key>
			<string>use_apple_update_servers</string>
			<key>Domain</key>
			<string>Basic</string>
			<key>Enabled</key>
			<true/>
			<key>Group</key>
			<string>software update</string>
			<key>InfoLink</key>
			<string>https://simpleum.com/en/faq-items/use-apple-servers-software-updates/</string>
			<key>InternalDocLink</key>
			<string>/x/I4AYAQ</string>
			<key>Kind</key>
			<string>Security</string>
			<key>Meta</key>
			<dict>
				<key>Author</key>
				<string>Simpleum Media GmbH</string>
				<key>Copyright</key>
				<string>(c) 2018 by Simpleum Media GmbH</string>
				<key>Notes</key>
				<string></string>
				<key>Version</key>
				<string>1.0.0</string>
			</dict>
			<key>Order</key>
			<integer>500</integer>
			<key>PreconditionCheckAction</key>
			<dict>
				<key>Action</key>
				<string></string>
				<key>ResultDefault</key>
				<string></string>
				<key>Type</key>
				<string>none</string>
			</dict>
			<key>PreconditionValidation</key>
			<dict>
				<key>IsSuccess</key>
				<true/>
				<key>Type</key>
				<string>none</string>
				<key>Value</key>
				<string></string>
			</dict>
			<key>Severity</key>
			<string>High</string>
			<key>ShowResult</key>
			<false/>
			<key>Title</key>
			<string>Use Apple Servers for Software Updates</string>
			<key>Validation</key>
			<dict>
				<key>IsSuccess</key>
				<true/>
				<key>Type</key>
				<string>contains</string>
				<key>Value</key>
				<string>apple.com/</string>
			</dict>
			<key>WorkflowState</key>
			<string></string>
		</dict>
	</array>
	<key>RulesVersion</key>
	<string>1</string>
</dict>
</plist>
